@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Ocultar la barra de scroll de los filtros si es necesario */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}